body {
    padding-top: 10px;
    height: 1500px;
}

header {
    position: fixed;
    background-color: #dc143c;
    top: 0;
    padding: 5px;
    width: 100%;
}
a {
    cursor: progress;
    margin: 20px;
    padding: 10px;
}

a:visited {
    color: orange;
}

a:active {
    color: red;
}

a:hover {
    background-color: red;
    color: white;
}